.parent {
	border: 3px solid gray;
	padding: 5px;
	margin: 5px;
}

/* selecting all <div>s in nested inside class="parent" */
.parent div {
	padding: 5px;
	margin: 5px;
	border: 1px dashed gray;
}

/* selecting all <div>s whose IMMEDIATE PARENT is class="parent" */
.group1 > div{
}

/* selecting THE <div> IMMEDIATELY after a whole group1 block */
.group1 + div {
}

/* selecting THE SECOND <div> IMMEDIATELY after a whole group1 block */
.group1 + div + div {
}

.grand-child:hover {
	color: red;
}

.child:has(.grand-child:hover) {
	color: blue;
}

.child:nth-child(2n + 3) {
	color: green;
}

.child::before {
	content: ':)';
}
.child::after {
	content: ':3';
}

div:class([class]) {
	color: orange;
}
